* {
  margin: 0;
  padding: 0;
  color: #dcdcdc;
}

.link {
  text-decoration: none;
}

.link:hover, .link:active {
  text-decoration: none;
  scale: 1.1;
  font-weight: 900;
  text-decoration: overline;
  transition: all 0.5s ease-out;
}

#blob {
  position: absolute;
  left: 26%;
  transform: translate(-50%, -50%);
  width: 33rem;
  height: 33rem;
  top: 50%;
  z-index: -1;
  opacity: 0.9;
}

.purple {
  background-color: #7209b7;
  position: absolute;
  width: 20rem;
  height: 20rem;
  left: 3%;
  bottom: 8rem;
  z-index: -5;
}

.blue {
  background-color: #4361ee;
  position: absolute;
  width: 20rem;
  height: 20rem;
  left: 15%;
  bottom: 20rem;
  z-index: -4;
}

.title {
 font-family: 'Sofia Sans', sans-serif;
 font-size: 7rem;
 position: absolute;
 right: 3%;
 top: 10rem;
 background: linear-gradient(to left, #4cc9f0, #f72585);
 background-clip: text;
-webkit-text-fill-color: transparent;
}

body {
	background: rgb(0, 0, 0);
	height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.nav-container {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
}

.logos {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 4rem;
  width: 40%;
  margin-left: 55.8%;
  margin-top: 0rem;
  z-index: 1;
}

.github {
  width: 6rem;
  position: relative;
  top: 530.5%;
}

.linkedIn {
  width: 7rem;
  position: relative;
  top: 515%;
}

.github:hover,
.github:active,
.linkedIn:hover,
.linkedIn:active {
  scale: 1.2;
  transition: all 0.5s ease-out;
}

.bio {
  text-align: center;
  position: relative;
  top: 12rem;
  font-size: 1.1rem;
  margin-left: 53.5%;
  background-color: #dcdcdc;
  color: black;
  width: 36.4%;
  padding: 2rem;
  border-radius: 1rem;
  z-index: -1;
  padding-bottom: 5rem;
}

#projects {
  height: 76rem;
  width: 100vw;
  position: absolute;
  top: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.NC-Games {
  width: 75%;
  background-color: #d92274de;
  text-align: center;
  position: relative;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.NC-Games:hover {
  scale: 1.05;
  transition: all 0.5s ease-out;
  box-shadow: -20px -20px #400a23;
}

.NC-Games:hover .project-title {
  scale: 1.05;
  transition: all 0.5s ease-out;
  box-shadow: -10px -10px #400a23;
}

.NC-Games:hover .project-img, .NC-Games:hover .project-img-2 {
  scale: 1.03;
  transition: all 0.5s ease-out;
  border: 0.4rem solid;
  box-shadow: 0px 0px 5px #dcdcdc;
}

.project-title {
  font-size: 3rem;
  position: relative;
  right: 2.5rem;
}

.project-discription {
  position: absolute;
}

.project-features-list {
  text-align: left;
  position: relative;
  top: 1.7rem;
  gap: 0.5rem;
  width: 20rem;
  list-style-type: square;
}

.project-footer {
  position: absolute;
  bottom: 2rem;
  display: flex;
  left: 1rem;
  font-size: 0.85rem;
  justify-content: space-between;
  gap: 0.7rem;
}

.project-img {
  position: relative;
  width: 17rem;
  height: 15rem;
  border: 0.3rem solid;
  right: 1rem;
  bottom: 1.7rem;
  z-index: 1;
}

.project-img-2 {
  position: absolute;
  width: 20rem;
  border: 0.3rem solid;
  right: 1.5rem;
  bottom: 1.55rem;
}

.pokemon {
  height: 16.5rem;
  background-color: #4361ee;
  text-align: center;
  margin: 3rem;
  width: 75%;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.pokemon:hover {
  scale: 1.05;
  transition: all 0.5s ease-out;
  box-shadow: -20px -20px #141c3f;
}

.pokemon:hover .project-title {
  scale: 1.05;
  transition: all 0.5s ease-out;
  box-shadow: -10px -10px #141c3f;
}

.pokemon:hover #pokemon-img {
  scale: 1.03;
  transition: all 0.5s ease-out;
  border: 0.4rem solid;
  box-shadow: 0px 0px 5px #dcdcdc;
}

#pokemon-img {
  position: relative;
  left: 1.5rem;
  width: 20rem;
  border: 0.3rem solid;
  bottom: 1.7rem;
}

.pokemon .project-title {
  right: 1.5rem;
}

.coming-soon {
  padding: 1rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
  width: 75%;
  background-color: #d92274de;
}