* {
  margin: 0;
  padding: 0;
  color: #dcdcdc;
  overflow: visible;
}

.link {
  text-decoration: none;
}

.link:hover, .link:active {
  text-decoration: none;
  scale: 1.1;
  font-weight: 900;
  text-decoration: overline;
  transition: all 0.5s ease-out;
}

#blob {
  position: absolute;
  left: 26%;
  transform: translate(-50%, -50%);
  width: 33rem;
  height: 33rem;
  top: 27rem;
  z-index: -1;
  opacity: 0.9;
}

.purple {
  background-color: #7209b7;
  position: absolute;
  width: 20rem;
  height: 20rem;
  left: 3%;
  top: 21rem;
  z-index: -5;
}

.blue {
  background-color: #4361ee;
  position: absolute;
  width: 20rem;
  height: 20rem;
  left: 15%;
  top: 12rem;
  z-index: -4;
}

.title {
 font-family: 'Sofia Sans', sans-serif;
 font-size: 7rem;
 position: absolute;
 width: 44%;
 right: 3%;
 top: 10rem;
 background: linear-gradient(to left, #4cc9f0, #f72585);
 background-clip: text;
-webkit-text-fill-color: transparent;
}

body {
	background: rgb(0, 0, 0);
	height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.nav-container {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
}

.logos {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 4rem;
  width: 40%;
  margin-left: 55.8%;
  margin-top: 0rem;
  z-index: 1;
}

.github {
  width: 6rem;
  position: relative;
  top: 530.5%;
  left: 0.0001rem;
}

.linkedIn {
  width: 7rem;
  position: relative;
  top: 515%;
  left: 0.0001rem;
}

.github:hover,
.github:active,
.linkedIn:hover,
.linkedIn:active {
  scale: 1.2;
  transition: all 0.5s ease-out;
}

.bio {
  text-align: center;
  position: relative;
  top: 12rem;
  font-size: 1.1rem;
  margin-left: 53.5%;
  background-color: #dcdcdc;
  color: black;
  width: 36.4%;
  padding: 2rem;
  border-radius: 1rem;
  z-index: -1;
  padding-bottom: 5rem;
}

#projects {
  height: 76rem;
  width: 100vw;
  position: absolute;
  top: 50rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.NC-Games {
  width: 75%;
  background-color: #d92274de;
  text-align: center;
  position: relative;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.NC-Games:hover {
  scale: 1.05;
  transition: all 0.5s ease-out;
  box-shadow: -20px -20px #400a23;
}

.NC-Games:hover .project-title {
  scale: 1.05;
  transition: all 0.5s ease-out;
  box-shadow: -10px -10px #400a23;
}

.NC-Games:hover .project-img, .NC-Games:hover .project-img-2 {
  scale: 1.03;
  transition: all 0.5s ease-out;
  border: 0.4rem solid;
  box-shadow: 0px 0px 5px #dcdcdc;
}

.project-title {
  font-size: 3rem;
  position: relative;
  right: 2.5rem;
}

.project-discription {
  position: absolute;
  top:0rem;
}

.project-features-list {
  text-align: left;
  position: relative;
  top: 1.7rem;
  gap: 0.5rem;
  width: 20rem;
  list-style-type: square;
}

.project-footer {
  position: absolute;
  bottom: 2rem;
  display: flex;
  left: 1rem;
  font-size: 0.85rem;
  justify-content: space-between;
  gap: 0.7rem;
}

.project-img {
  position: relative;
  width: 17rem;
  height: 15rem;
  border: 0.3rem solid;
  right: 1rem;
  bottom: 1.7rem;
  z-index: 1;
}

.project-img-2 {
  position: absolute;
  width: 20rem;
  border: 0.3rem solid;
  right: 1.5rem;
  bottom: 1.55rem;
}

.pokemon {
  height: 16.5rem;
  background-color: #4361ee;
  text-align: center;
  margin: 3rem;
  width: 75%;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.pokemon:hover {
  scale: 1.05;
  transition: all 0.5s ease-out;
  box-shadow: -20px -20px #141c3f;
}

.pokemon:hover .project-title {
  scale: 1.05;
  transition: all 0.5s ease-out;
  box-shadow: -10px -10px #141c3f;
}

.pokemon:hover #pokemon-img {
  scale: 1.03;
  transition: all 0.5s ease-out;
  border: 0.4rem solid;
  box-shadow: 0px 0px 5px #dcdcdc;
}

#pokemon-img {
  position: relative;
  left: 1.5rem;
  width: 20rem;
  border: 0.3rem solid;
  bottom: 1.7rem;
}

.pokemon .project-title {
  right: 1.5rem;
}

.coming-soon {
  padding: 1rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
  width: 75%;
  background-color: #d92274de;
}

.viewport-error {
  position: absolute;
  visibility: hidden;
  background-color: #d92274de;
  text-align: center;
  top: 11rem;
  width: 1vw;
  padding: 2rem;
  border: 0.4rem solid;
  box-shadow: 0px 0px 5px #dcdcdc;

}

@media only screen and (max-width:480px ) {
  .visible-content,
  #blob {
    display: none;
  }

  .viewport-error {
    width: 80%;
    visibility: visible;
  }
}

@media only screen and (max-width: 870px) {

  #blob {
    position: absolute;
    left: 50%;
    width: 30rem;
    top: 20rem;
  }

  .nav-container {
    font-size: 1.7rem;
  }

  .title {
    font-size: 3rem;
    text-align: center;
    left: 1rem;
    top: 32.8rem;

    display: block;
    margin-left: auto;
    width: 100%;
    right: 0%;
  }

  .purple {
    width: 79%;
    height: 13rem;
    left: 5%;
    top: 18rem;
  }
  
  .blue {
    width: 79%;
    height: 13rem;
    right: 5%;
    top: 9rem;
  }

  .bio {
    position: absolute;
    right: 0rem;
    width: 90%;
    top: 34em;
    padding: 0rem;
    margin-right: 5%;
    padding-top: 1rem;
    padding-bottom: 4.5rem;
  }

  .github {
    top: 681%;
  }

  .linkedIn {
    top: 665%;
  }

  .logos {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0rem;
    width: 100%;
    margin-top: 0rem;
  }

  .project-title {
    visibility: hidden;
  }

  .project-img {
    width: 16rem;
    height: 15rem;
    bottom: 17rem;
    right: 0.3rem;
  }

  #pokemon-img {
    width: 16rem;
    height: 15rem;
    bottom: 13rem;
    left: -0.3rem;
  }

  .project-img-2 {
    visibility: hidden;
  }

  .NC-Games {
    height: 18rem;
    width: 60%;
  }

  .pokemon {
    height: 18rem;
    width: 60%;
  }

  .project-features-list {
    visibility: hidden;
  }

  .project-description {
    position: absolute;
    top: 18rem;
    left: 2rem;
    font-size: 1.3rem;
  }

  .project-footer {
    gap: 3rem;
    font-size: 0.65rem;
  }

  .NC-Games:hover .project-description,
  .pokemon:hover .project-description {
    scale: 1.1;
    transition: all 0.5s ease-out;
  }

  .NC-Games,
  .pokemon {
    display: block
  }

}

@media only screen and (min-width: 1220px) {

  .purple {
    width: 28rem;
    left: 8%;
  }
  
  .blue {
    width: 28rem;
  }

  .title {
    font-size: 9rem;
  }

  .bio {
    top: 17rem;
    font-size: 1.4rem;
  }

  .github {
    top: 620.5%;
    left: -3rem;
  }
  
  .linkedIn {
    top: 606%;
  }

  .project-description {
    font-size: 1.2rem;
  }

  .project-features-list {
    width: 150%;
    font-size: 1.2rem;
  }
  
  .project-footer {
    font-size: 1rem;
    gap: 1.5rem;
  }
}

@media only screen and (min-width: 2277px) { 
  .purple {
    width: 28rem;
    left: 17%;
  }
  
  .blue {
    width: 28rem;
    left: 21%;
  }

  .title {
    top: 20rem;
  }

  .github {
    top: 601%;
    left: -9rem;
  }

  .linkedIn {
    top: 585%
  }
}